body {
  background: linear-gradient(white, #0C3447);
  text-align: center;
}
h2, p, footer, li, ol, dl, dd { font-family: 'Baloo Bhaijaan'; font-size: 15px;}
p { font-size: 20; }
p#first { color: grey; }

button {
  padding: 5px 25px;
  color: #0C3447;
  font-family: 'Baloo Bhaijaan';
  font-size: 30;
  display: inline-block;
  text-decoration: none;
}
button:hover{
  text-decoration: none; color: #AF0022;
  font-size: 40;
}

h1 {
  color: #F9DEC2;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 70px;
  text-shadow: 2px 2px 0 #0C3447, 5px 5px 0 #AF0022, 10px 10px 0 #00131E;
}

h2#inspiration-heading {
  color: #F9DEC2;
  font-family: 'Baloo Bhaijaan';
  font-size: 20px;
  text-shadow: 2px 2px 0 gray, 5px 5px 0 darkgray;
}

h2#about-header {
  color: #F9DEC2;
  font-family: 'Baloo Bhaijaan';
  font-size: 55px;
  text-shadow: 2px 2px 0 gray, 5px 5px 0 darkgray;
}

h3 {
  color: #F9DEC2;
  font-family: 'Baloo Bhaijaan';
  font-size: 35px;
  text-shadow: 2px 2px 0 gray, 5px 5px 0 darkgray;
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
   padding:3px;
   border:6px solid black;
   background-color:darkgrey;
   box-shadow: 10px 10px 15px #00131E;
}

dl {
  font-size: 25px;
  color: #AF0022;
}

dd {
  color: #0C3447;
}

.nav{
  background-color: #0C3447;
  overflow: hidden;
  text-transform: uppercase;
}

.nav{
    border:5px solid #ccc;
    border-width:1px 0;
    list-style:none;
    display: block;
    margin:5px;
    padding:14px 16px;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    font-family: 'Baloo Bhaijaan';
    font-size: 20px;
    text-decoration: none; color: #F9DEC2;
}
/* Change the color of links on hover */
.nav a:hover {
    text-decoration: none; color: #AF0022;
}
.nav a:visited {
    text-decoration: none;
}
.footer {
  font-size: 13px;
}
